# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribuição e build
dist/
build/
*.egg-info/
*.egg

# Ambiente virtual
.venv/
venv/
env/

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.*

# Logs
*.log